@font-face {
    font-family: liberation-italic;
    src: url(fonts/LiberationMono-Italic.ttf);
    font-weight: normal;
}

body {
    margin: 0;                          
    font-size: 13px;
    font-family: 'liberation-italic';
    text-rendering: optimizeLegibility;
    display: flex;
    overflow: visible;                       
    flex-direction: column;              
    align-items: center;                 
    justify-content: center;             
    width: 100%;                         
    text-align: center;
    cursor: url('./cursors/Red\ White\ Hand\ Pointer.cur'), auto;
}


table {
    padding: 0;
    border-spacing: 0;
    text-align: left;
}

td {
    padding-bottom: 1.2em;
}

.object-container {
    display: flex;
    justify-content: center;
    width: 380px;              /* Fixed width matching <object> */
}

object {
    display: block;
    width: 100%;                  /* Fills the container */
    margin: auto;
}


.content {
    max-width: 370px;
    margin: auto;
    text-align: center;
    width: 100%;
}

.header {
    max-width: 370px;
    padding-top: 1.2em;
    margin: auto;
    text-align: center;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
    cursor: url("./cursors/Red\ White\ Hand\ Pointers\ Cursor.cur"), auto;
}

a:hover {
    color: #C71919;
    text-decoration: underline;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.red-link {
    color: #C71919;
    text-decoration: underline;
}

.footer {
    text-align: center;
    font-size: 12px;
    margin-top: 1.2em;
    max-width: 350px;
    width: 100%
}

p {
    line-height: 1.6;
    margin: 0;
    padding-bottom: 1.2em;
}

iframe {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
}

.btn {
    border: none;
    outline: none;
    background-color: none;
}

.btn:hover {
    text-decoration-color: #C71919;
    text-decoration: underline;
}

.btn.active {
    text-decoration-color: #C71919;
    text-decoration: line-through;
}

/* margin on mobile */
@media (max-width: 640px) {
    body {
        font-size: 12px;
    }

    .content {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}

/* Loader */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    gap: 0;
    color: #C71919
}

.loader {
    width: 120px; /* Width of the loading bar */
    height: 12px; /* Height of the loading bar */
    display: flex;
    overflow: hidden;
    border: 2px solid #C71919; /* Retro-style border */
}

.loader-bar {
    width: 0%;
    height: 100%;
    background-color: #C71919; /* Filling color */
    animation: fillBar 1s linear forwards; /* Animating the fill */
}

@keyframes fillBar {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* Hide loader after animation is complete */
body.loading .content {
    display: none;
}

body.loading .loader-container {
    display: flex;
}

body:not(.loading) .loader-container {
    display: none;
}
